<app-toolbar></app-toolbar>

<mat-grid-list cols="2" rowHeight="2:1" class="working-area" gutterSize="20">
  <mat-grid-tile>
    <div class="list" *ngIf="wallet.username.length > 0">
      <mat-card class="list-item" *ngFor="let inbound of wallet.inbound">
        <span>{{inbound.sender}}</span>
        <span class="spacer-auto"></span>
        <span>{{inbound.coins}}</span>
      </mat-card>
    </div>
  </mat-grid-tile>

  <mat-grid-tile rowspan="2">
      <div class="list">
        <mat-card class="top-list-item">
          <span>Send Coins</span>
          <span class="spacer-auto"></span>
          <button mat-icon-button aria-label="Send Icon" (click)="openSendDialog()">
            <mat-icon>send</mat-icon>
          </button>
        </mat-card>
      </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="list" *ngIf="wallet.username.length > 0">
      <mat-card class="list-item" *ngFor="let outbound of wallet.outbound">
        <span>{{outbound.recipient}}</span>
        <span class="spacer-auto"></span>
        <span>{{outbound.coins}}</span>
      </mat-card>
    </div>
  </mat-grid-tile>
</mat-grid-list>
